.ns-map-logo {
  background-image: url('NatureServeLogo.png');
  background-repeat: no-repeat;
  height: 80px;
  width: 134px;
}

#header {
 width:100%;
 position:relative
}

#nav-wrapper {
 position:relative;
 left:0px
}

#nav {
  position:absolute;
  right:0px
}